{% extends "base.html" %}
{%block title%}{{block.super}} | Chi Siamo{%endblock title%}
{%block content%}
<p>Chi Siamo</p>
<h2>ChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamo<br>ChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamo<br>ChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamoChiSiamo
</h2>
{%endblock content%}