!
<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <style>
        body{
            background-color: black;
        }
        p{
            font-size: 120px;
            text-align: center;
            color: blueviolet;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        li{
            font-size: 90px;
            text-align: center;
            color: blue;
        }
    </style>
</head>

<body>
    <p>The Listone</p>
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
    </ol>
</body>

</html>