{% extends 'base.html' %}
{% block title %}
  Lista
{% endblock %}

{% block content %}
  {% if is_giornalista %}
    <h1>Lista Articolo di {{ giornalista.nome }} {{ giornalista.cognome }}:</h1>
    {% for articolo in articoli %}
      <h3>{{ articolo.titolo }}</h3>
      <p>{{ articolo.contenuto }}</p>
      <hr>
    {% endfor %}
  {% else %}
    <h1>Lista Articoli:</h1>
    {% for articolo in articoli %}
    <p> <strong>Titolo: </strong>
      <a href="/news/articolo/{{ articolo.id }}">{{ articolo.titolo }}</a>
      </p>
    <p><strong>Contenuto: </strong>
      {{ articolo.contenuto }}
    </p>
    
      <p><strong>Autore:</strong>
      <a href="{% url 'news:giornalista_detail' articolo.giornalista.id %}">{{ articolo.giornalista }}</a>
      </p>
      <hr>
    {% endfor %}
  {% endif %}
{% endblock %}
